In [63]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import statsmodels.api as sm
import seaborn as sns
from numpy import median

In [64]:
house_sales_df = pd.read_csv("house_sales_s1_mayel.csv",encoding='utf-8')

In [65]:
len(house_sales_df)

21613

In [66]:
from sklearn.model_selection import train_test_split

In [67]:
#train=df.sample(frac=0.8,random_state=200)

In [68]:
train_df, test_df = train_test_split(house_sales_df, test_size=0.2, random_state=42, shuffle=True)

In [69]:
len(train_df)

17290

In [70]:
len(test_df)

4323

In [71]:
train_df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,predict_bedrooms,predict_bathrooms
6325,5467910190,20140527T000000,325000.0,3.0,1.75,1780.0,13095.0,1.0,0,0,...,0,1983,0,98042,47.3670,-122.152,2750,13095,3.0,2.0
13473,9331800580,20150310T000000,257000.0,2.0,1.00,1000.0,3700.0,1.0,0,0,...,200,1929,0,98118,47.5520,-122.290,1270,5000,3.0,1.0
17614,2407000405,20150226T000000,228500.0,3.0,1.00,1080.0,7486.0,1.5,0,0,...,90,1942,0,98146,47.4838,-122.335,1170,7800,3.0,1.0
16970,5466700290,20150108T000000,288000.0,3.0,2.25,2090.0,7500.0,1.0,0,0,...,810,1977,0,98031,47.3951,-122.172,1800,7350,3.0,2.0
20868,3026059361,20150417T000000,479000.0,2.0,2.50,1741.0,1439.0,2.0,0,0,...,295,2007,0,98034,47.7043,-122.209,2090,10454,3.0,2.0

In [72]:
train_df = train_df.reset_index()

In [73]:
train_df.dropna(inplace=True)

In [74]:
test_df.dropna(inplace=True)

<ipython-input-74-5883ea5b2d94>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df.dropna(inplace=True)

In [75]:
from sklearn.tree import DecisionTreeRegressor

In [76]:
regressor = DecisionTreeRegressor(max_depth=2)

In [77]:
regressor.fit(train_df[['bathrooms','grade','sqft_living']], train_df['price'])

DecisionTreeRegressor(max_depth=2)

In [78]:
y_predict = regressor.predict(test_df[['bathrooms','grade','sqft_living']])

In [79]:
len(y_predict)

3726

In [80]:
from sklearn.metrics import mean_squared_error

In [82]:
y_test=train_df['price'][:3726]

In [83]:
mean_squared_error(y_test, y_predict)

216609221762.43216

In [ ]:
X_grid = np.arrange(min())