In [43]:
# Supress warnings
import warnings
warnings.filterwarnings('ignore')

# Dependencies
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl 
import matplotlib.pyplot as plt

In [44]:
''' Import cleaned housing data for Kings County, WA. '''
houseClean = pd.read_csv("./data/Modified/houseClean_dates.csv", index_col=False)
houseClean.head()

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,quarter
0,0,7129300520,2014-10-13,221900.0,3.0,1.00,1180.0,5650.0,1.0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,4
1,1,6414100192,2014-12-09,538000.0,3.0,2.25,2570.0,7242.0,2.0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,4
2,2,5631500400,2015-02-25,180000.0,2.0,1.00,770.0,10000.0,1.0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,1
3,3,2487200875,2014-12-09,604000.0,4.0,3.00,1960.0,5000.0,1.0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,4
4,4,1954400510,2015-02-18,510000.0,3.0,2.00,1680.0,8080.0,1.0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,1

In [45]:
X_train_df = houseClean[['bedrooms','sqft_living','grade']]
y_train_df = houseClean['price']
X_train_df.head()

   bedrooms  sqft_living  grade
0       3.0       1180.0      7
1       3.0       2570.0      7
2       2.0        770.0      6
3       4.0       1960.0      7
4       3.0       1680.0      8

In [46]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [47]:
''' Define Dependent and Independent Variables '''
# X = houseClean[['bedrooms','sqft_living','grade']] # Independent variables
# y = houseClean['price'].values.reshape(-1,1) # Dependent variables
X = X_train_df.iloc[:, 0:3].values
y = y_train_df.values.reshape(-1,1)
print(X.shape, y.shape)

(21613, 3) (21613, 1)

In [48]:
''' Create Training and Test sets with a 70-30 split '''
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, test_size=0.3, random_state=42)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(15129, 3) (6484, 3) (15129, 1) (6484, 1)

In [49]:
# def cost_function(X, Y, B):
#     m = len(Y)
#     J = np.sum((X.dot(B) - Y) ** 2)/(2 * m)
#     return J

In [68]:
# def batch_gradient_descent(X, Y, B, alpha, iterations):
#     cost_history = [0] * iterations
#     m = len(Y)
 
#     for iteration in range(iterations):
#         #print(iteration)
#         # Hypothesis Values
#         h = X.dot(B)
#         # Difference b/w Hypothesis and Actual Y
#         loss = h - Y
#         # Gradient Calculation
#         gradient = X.T.dot(loss) / m
#         # Changing Values of B using Gradient
#         B = B - (alpha * gradient)
#         # New Cost Value
#         cost = cost_function(X, Y, B)
#         cost_history[iteration] = cost
 
#     return B, cost_history

In [ ]:
# # Initial Coefficients
# B = np.zeros(X_train.shape[1])
# alpha = 0.005
# iter_ = 5
# newB, cost_history = batch_gradient_descent(X_train, y_train, B, alpha, iter_)